
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


*{
    margin: 0;
    padding: 0;
}
.img1 img{
    position: relative;
    width: 100%;
    height: 450px;
    border-radius: 0 0 87px 87px;
}
.imgtop img{
    position: absolute;
    top: 20px;
    left: 615px;
    right: 30px;
    height: 60px;
    width: 110px;
    
    
}
.img1 p{
    position: absolute;
    left: 723px;
    top: 39px;
    color: rgb(136, 136, 212);
    font-weight: 886;
}
.imgtop b{
    position: absolute;
    text-align: center;
    /* padding-top: 18px;
    margin-bottom: 50px; */
    left: 83px;
    top: 433px;
    background-color: rgb(110, 110, 189);
    color: azure;
    height: 105px;
    width: 1350px;
    font-size: 70px;
    font-family: 'Playfair Display', serif;
    border-radius: 57px 0 57px 0;
}
.midtext p{
    position: absolute;
    top: 450px;
    background-color: rgb(115, 240, 199);
    margin-top: 87px;
    width: 1120px;
    height: 51px;
    font-size: 25px;
    color: rgb(253, 255, 255);
    left: 190px;
    text-align: center;
    font-size: 37px;
}
.mid p{
    position: relative;
    top: 100px;
    left: 80px;
    /* margin-left: 80px;
    margin-top: 100px; */
    font-size: 125px;
    color: rgb(119, 114, 114);
    }
    .ab p{
        
        font-size: 25px;
    }
    .rgimg img{
        position: relative;
        left: 1200px;
        /* bottom: 65px; */
        bottom: 439px;
        border-radius: 0 0 22px 0;
    /* box-shadow: 10px 5px 5px rgb(52, 80, 150); */
    box-shadow: 12px 12px 2px 1px rgb(52, 80, 150);

      
    }
    .rgimg p{
        position: relative;
       
        top: -439px;
        font-size: 21px;
        background-color: rgb(66, 66, 181);
        width: 340px;
        height: 44px;
        left: 1180px;
        text-align: center;
        color: white;
        border-radius: 25px 0 0 0;
        }
        .text{
            position: relative;
            left: 1200px;
            bottom: 455px;
            text-align: end;
            padding-right: 30px;
            font-size: 13px;
            background-color: rgb(95, 167, 172);
            color: bisque;
            height: 272px;
            width: 320px;
        }
        .mid h4{
            position: relative;
            left: 77px;
            color: rgb(140, 140, 204);
        }
        .mid h1{
            position: relative;
            left: 169px;
            bottom: 51px;
            color: rgb(75, 75, 189);
            font-weight: 800;

        }
        .mid h6{
            position: relative;
            text-align: start;
            width: 735px;
            height: 132px;
            bottom: 45px;
            left: 78px;
            color: rgb(75, 75, 189);
        }
        .mid hr{
            position: relative;
            width: 65%;
            margin-left: 78px;
            margin-right: 25px;
            bottom: 90px;
            border: 1px solid rgb(64, 51, 51);
        }
        .special p{
            position: relative;
            width: 275px;
            top: -106px;
            font-size: 33px;
            text-align: end;
            left: 795px;
            color:rgb(75, 75, 189) ;
            /* background-color: aqua; */
            bottom: 20cm;
            
        }
        .qrimg img{
            position: relative;
            left: 1150px;
            bottom: 1077px;
            height: 90px;
            width: 90px;
            background-color: rgb(239, 239, 247);
            border: 10px solid blue;
            border-radius: 10px 0 10px 0;
            
        }
        .earth img{
            position: relative;
            left: 65px;
            height: 25px;
            width: 25px;
            bottom: 802px;

        }
        .earth P A{
            position: relative;
            left: 100px;
            bottom: 827px;
            color: blue;
        }
        .contact p{
            position: relative;
            left: 100px;
            color: rgb(64, 64, 218);
            bottom: 810px;
        }
        .lastimg img{
            position: relative;
            left: 355px;

            bottom: 681px;
            height: 31px;
            width: 31px;
            padding: 1px;
        }
        .img8 IMG {
            position: relative;
            bottom: 604px;
            left: 123px;
            height: 55px;
            width: 55px;
        }
        .img8 P{
            position: relative;
            bottom: 585px;
            left: 123px;
            width: 80px;
            color: rgb(54, 78, 177);
        }
        .img8 hr{
            position: relative;
            width: 143px;
            margin-left: 91px;
            margin-right: 25px;
            bottom: 590px;
            border: 1px solid rgb(54, 78, 177);
        }

        .img2 IMG {
            position: relative;
            bottom: 739px;
            left: 403px;
            height: 55px;
            width: 55px;
        }
        .img2 p{
            position: relative;
            bottom: 731px;
            left: 383px;
            width: 110px;
            color: rgb(54, 78, 177);
        }

        .img2 hr{
            position: relative;
            width: 143px;
            margin-left: 361px;
            margin-right: 25px;
            bottom: 725px;
            border: 1px solid rgb(54, 78, 177);
        }

        .img3 IMG {
            position: relative;
            bottom: 873px;
            left: 713px;
            height: 55px;
            width: 55px;
        }

        .img3 p{
            position: relative;
            bottom: 851px;
            left: 693px;
            width: 110px;
            color: rgb(54, 78, 177);
        }

        .img3 hr{
            position: relative;
            width: 143px;
            margin-left: 675px;
            margin-right: 35px;
            bottom: 835px;
            border: 1px solid rgb(54, 78, 177);
        }
